{% extends override_base|default:'layout.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h1>Bikes</h1>
<hr />

<form method="post">
  <div class="row">
    <div class="col-sm-10">
      {% csrf_token %}
      {{ form|crispy }}
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary"
        style="margin-top: 20%; width: 100%; margin-bottom: 2.2em;">Search</button>
    </div>
  </div>
</form>

<div class="row">
  {% for bike in bikes %}
    <div class="col-sm-4" style="padding-bottom: 2rem;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ bike.modeltype }} Bike</h5>
          <p class="card-text">
            List Price: ${{ bike.listprice }}
            <br/>
            Construction: {{ bike.construction }}
            <br/>
            Letter Style: {{ bike.letterstyleid }}
            <br/>
            Frame Size: {{ bike.framesize }}
            <br/>
            Top Tube: {{ bike.toptube }}
            <br/>
            Chain Stay: {{ bike.chainstay }}
            <br/>
            Head Tube Angle: {{ bike.headtubeangle }}
            <br/>
            Seat Tube Angle: {{ bike.seattubeangle }}
          </p>
          <a href="#" class="btn btn-primary">Purchase</a>
          {% if logged_in and usertype == 'employee' %}
            <a href="{% url 'delete_bike' bike.serialnumber %}" class="btn btn-danger">Delete Bike</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
