{% extends override_base|default:'layout.html' %}

{% block content %}

<h1>Bikes</h1>
<hr />

<div class="row">
  {% for bike in bikes %}
    <div class="col-sm-4" style="padding-bottom: 2rem;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ bike.modeltype }} Bike</h5>
          <p class="card-text">
            List Price: ${{ bike.listprice }}
            <br/>
            Construction: {{ bike.construction }}
            <br/>
            Letter Style: {{ bike.letterstyleid }}
            <br/>
            Frame Size: {{ bike.framesize }}
            <br/>
            Top Tube: {{ bike.toptube }}
            <br/>
            Chain Stay: {{ bike.chainstay }}
            <br/>
            Head Tube Angle: {{ bike.headtubeangle }}
            <br/>
            Seat Tube Angle: {{ bike.seattubeangle }}
          </p>
          {% if logged_in %}
            <a href="#" class="btn btn-primary btn-sm">Purchase</a>
          {% endif %}
          {% if logged_in and usertype == 'employee' %}
            <a href="{% url 'update_bike' bike.serialnumber %}" class="btn btn-secondary btn-sm">Edit</a>
            <a href="{% url 'delete_bike' bike.serialnumber %}" class="btn btn-danger">Delete Bike</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
